.nn{
    background-color: #FDDA0D ;
    }
    .mm{
        background-color: #101820;
    }
    .l5{
        color: #FDDA0D;
    
    }
    .pp{
        background-color: #17202a;}
    .ll{
        color:#FDDA0D;
    }
    .oo{
        color: #5dade2 ;
    }
    